.icon-chevron-big-left-orange {
  background-image: url(../../img/sprite.png);
  background-position: -182px -104px;
  width: 15px;
  height: 42px; }

.icon-chevron-big-right-orange {
  background-image: url(../../img/sprite.png);
  background-position: -166px -104px;
  width: 16px;
  height: 42px; }

.icon-chevron-small-left-orange {
  background-image: url(../../img/sprite.png);
  background-position: 0px -161px;
  width: 11px;
  height: 27px; }

.icon-chevron-small-right-orange {
  background-image: url(../../img/sprite.png);
  background-position: -193px -77px;
  width: 11px;
  height: 27px; }

.icon-coctail {
  background-image: url(../../img/sprite.png);
  background-position: -120px 0px;
  width: 46px;
  height: 50px; }

.icon-email {
  background-image: url(../../img/sprite.png);
  background-position: -120px -92px;
  width: 26px;
  height: 20px; }

.icon-facebook {
  background-image: url(../../img/sprite.png);
  background-position: -166px 0px;
  width: 39px;
  height: 39px; }

.icon-instagram {
  background-image: url(../../img/sprite.png);
  background-position: 0px -120px;
  width: 41px;
  height: 41px; }

.icon-krishka {
  background-image: url(../../img/sprite.png);
  background-position: -41px -120px;
  width: 48px;
  height: 34px; }

.icon-magniffic-glass-big {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px; }

.icon-magnific-glass {
  background-image: url(../../img/sprite.png);
  background-position: -146px -92px;
  width: 20px;
  height: 20px; }

.icon-pdf {
  background-image: url(../../img/sprite.png);
  background-position: -89px -120px;
  width: 20px;
  height: 22px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -166px -77px;
  width: 27px;
  height: 27px; }

.icon-shapka {
  background-image: url(../../img/sprite.png);
  background-position: -120px -50px;
  width: 42px;
  height: 42px; }

.icon-vk {
  background-image: url(../../img/sprite.png);
  background-position: -166px -39px;
  width: 38px;
  height: 38px; }
